* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', 'Georgia', serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

h2 {
    font-size: 1.3em;
}